<h1>Listing <%= class_name.underscore.humanize.downcase.pluralize %></h1>

<table>
  <thead>
    <tr>
<% attributes.each do |attribute| -%>
      <th><%= attribute.name.titleize %></th>
<% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  {{child "list"}}

</table>

<br />

<a data-navigate="<%= class_name.underscore.pluralize %>/new">New <%= class_name %></a>